body {
  margin: 0;
  padding: 4em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: 2em;
  color: #3396ff;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container {
  margin: 1em;
}

.input {
  margin-right: 1em;
}

.card {
  margin-bottom: 1em;
}

.question-container {
  margin-bottom: 1em;
}

.question-text {
  margin-right: 1em;
}
